# Gradle / build
.gradle/
build/
app/release/baselineProfiles/

# Kotlin plugin data
.kotlin/

# Android Studio
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Generated packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.apk
*.aab
output-metadata.json

# Local configuration
local.properties

# Logs and crash reports
*.log
hs_err_pid*
replay_pid*

# Misc
*.swp
*.hprof